.header {
	text-align: center;
	margin-bottom: 10px;
}
.title {
	font-size: 24px;
	font-weight: bold;
}
.header-option {
	display: inline-block;
	float: right;
	height: 20px;
	width: 20px;
	margin: 5px 25px;
}

.header-option img {
	width: 100%;
	height: 100%;
}

.header-option .dropdown-toggle::before,
.header-option .dropdown-toggle::after {
	border: none;
	content: none;
}

.add-btn {
	border-radius: 25px;
	padding: 0px 7px;
}

.hide {
	display: none;
}
