.header {
	text-align: center;
	margin-bottom: 10px;
}
.title {
	font-size: 24px;
	font-weight: bold;
}
.header-option {
	display: inline-block;
	float: right;
	height: 20px;
	width: 20px;
	margin: 5px 25px;
}

.header-option img {
	width: 100%;
	height: 100%;
}

.header-option .dropdown-toggle::before,
.header-option .dropdown-toggle::after {
	border: none;
	content: none;
}

.add-btn {
	border-radius: 25px;
	padding: 0px 7px;
}

.hide {
	display: none;
}

[data-droppable] {
	min-height: 10px;
	max-height: 70vh;
	overflow: scroll;
}

.label-container {
	float: left;
}

.add-action-buttons {
	margin-top: 10px;
	text-align: right;
}
.category {
	min-width: 300px;
}
.categories-container {
	overflow: scroll;
	flex-wrap: nowrap;
	height: 90vh;
}
.task-title {
	width: 90%;
}

.task-title-input {
	border: none;
	width: 100%;
}

.selectpicker {
	display: block !important;
}

.open > .dropdown-menu {
	display: block;
}
.assignee-container {
	text-align: right;
}
.user-badge {
	padding: 7px;
}
