<div class="modal-header">
    <h5 class="modal-title">Add New Category</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-row">
            <div class="col">
                <label for="message-text" class="col-form-label">Category Name:</label>
                <input id="new-category-name" type="text" class="form-control">
            </div>
            <div class="col">
                <label for="message-text" class="col-form-label">Position:</label>
                <input id="new-category-index" type="number" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="create-category" type="button" class="btn btn-secondary">Add</button>
</div>