<div class="row header">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                Trello
            </div>
        </div>
    </div>
</div>
<div class="row">
    {{#each tasksByCategories}}
    <div class="col-sm">
        <div class="card">
            <div class="card-header">{{name}}</div>
            <div class="list-group">
                {{#each tasks}}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{title}}</h5>
                        <small>{{duedate}}</small>
                    </div>
                    <small>{{label}}</small>
                </div>
                {{/each}}
            </div>
            <div class="card-footer text-muted">
				    	Add a card...
				  	</div>
        </div>
    </div>
    {{/each}}
</div>