<div class="row header">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <span class="title">Trello</span>
                <div class="header-option">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../images/ham_icon.png" />
                            </span>
                    <div class="dropdown-menu">
                        <span class="dropdown-item" id="add-user">Add User</span>
                        <span class="dropdown-item" id="add-category">Add Category</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row categories-container" id="task-container" data-category-draggable>
    {{#each tasksByCategories}}
    <div class="col-sm category" data-category={{id}}>
        <div class="card">
            <div class="card-header">
                {{name}}
                <button type="button" data-id={{id}} class="close" data-delete-category id="delete-category-{{id}}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="list-group" data-droppable>
                {{#each tasks}}
                <div data-draggable>
                    <div class="list-group-item list-group-item-action flex-column align-items-start" data-type="task" data-id={{id}}>
                        <div class="label-container">
                            {{#each labels}}
                            <span class="badge badge-{{getRandomLabelType}}">{{this}}</span> {{/each}}
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{title}}</h5>
                        </div>
                        <div class="assignee-container">
                            {{#each assignees}}
                            <span class="badge badge-pill user-badge badge-{{getRandomLabelType}}">{{initial}}</span> {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="card-footer text-muted">
                <div data-type='add-new-task' id='add-new-task-{{id}}' data-id={{id}}>
                    Add a card...
                </div>
                <div class="form-group hide" id="new-task-form-{{id}}">
                    <input id="new-task-title-{{id}}" data-id={{id}} type="text" class="form-control">
                    <div class="add-action-buttons">
                        <button id="add-label-{{id}}" type="button" class="btn btn-dark btn-sm">
                            Add
                        </button>
                        <button id="cancel-label-creation-{{id}}" type="button" class="btn btn-outline-dark btn-sm">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>