<div class="modal-header">
    <h5 class="modal-title task-title">
    <input type="text" class="form-control task-title-input" id="task-title" value={{title}} data-id={{id}} />
</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Labels:</label>
            {{#each labels}}
            <span class="badge badge-{{getRandomLabelType}}">{{this}}</span> {{/each}}
            <button id="add-label" type="button" class="btn btn-outline-dark add-btn">
                +
            </button>
            <input id="add-label-input" type="text" class="form-control hide" data-id={{id}}>
        </div>
        <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="task-description" value={{description}}></textarea>
        </div>
        <div class="form-group" id="user-options">
            <select style="display:none" name="" multiple>
                {{#each users}} {{selected this ../assignees}} {{/each}}
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="delete-task" data-id={{id}} type="button" class="btn btn-secondary">Delete</button>
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
</div>